.suite {
    margin-left: 0.5cm;
}

.suite-bar {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.suite-info {
    margin-right: 80px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 6px;
}

.suite-bar:hover .suite-name {
    font-weight: bold;
}

.suite-icon {
    background-color: #168aad80;
    border-radius: 10%;
    font-size: smaller;
}

.suite-elapsed {
    margin-left: auto;
    font-size: smaller;
    color: #666666;
}

.suite-bar .suite-control {
    visibility: hidden;
}

.suite-bar:hover .suite-control {
    visibility: visible;
}

.suite-control {
    display: flex;
    align-items: center;
    line-height: 9pt;
}

.suite-control *+* {
    margin-left: 3px;
}

.suite-control>* {
    border: 1px solid #a8a8a8;
    border-radius: 10%;
}

.suite-control mat-icon {
    font-size: 16px;
    width: auto;
    height: auto;
}

.suite-control>*:hover {
    background-color: #a8a8a8;
}

.suite-content {
    border-left: 1px solid #aaaaaa;
    margin-left: 0.5cm;
}