.main-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.sidebar {
    max-width: 10vh;
    border-right: 1px solid #a8a8a8;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
}